/bazel-bin
/bazel-testlogs
/bazel-domenic
/bazel-genfiles
/bazel-out
/third_party
/.idea
/Release
/Debug
/x64
/.vs
*.sdf
*.sln
*.suo
*.opensdf
*.opendb
*.vcxproj*
*.pdb
*.user
*.iml
.editorconfig
README.md
angular-cli-build.js
angular-cli.json
config/
e2e/
package.json
public/
src/
tslint.json
bin/app.js
bin/app.js.map
bower.json
typings/
npm-debug.log
python/__pycache__/
python/notebooks/__pycache__/
