<paper-card class="summary" heading="Summary">
  <div class="card-content layout horizontal">
    <div class="flex-1">
      <vaadin-grid>
        <table>
          <colgroup>
            <col name="Epoch">
            <col name="Batch Error">
            <col name="Validation Error">
            <col name="Validation Delta">
          </colgroup>
          <tbody>
          <tr *ngFor="let summary of validationSummaries">
            <td>{{summary.epoch}}</td>
            <td>{{summary.batchError}}</td>
            <td>{{summary.validationError}}</td>
            <td>{{summary.validationDelta}}</td>
          </tr>
          </tbody>
        </table>
      </vaadin-grid>
    </div>

    <div class="flex-spacer"></div>

    <div class="flex-1">
      <div class="layout vertical">
        <div #validationChart class="google-chart"></div>
        <div #batchChart class="google-chart"></div>
      </div>
    </div>
  </div>
</paper-card>
