@import "../../../../../style/flex";

.summary {
  width: 100%;
  .card-content {
    height: 600px;
    vaadin-grid {
      flex-basis: 400px;
    }
    .flex-spacer {
      flex-basis: 10px;
    }
  }
}
