@import "../../../../../style/flex";

.details {
  width: 100%;

  .grid-container {
      width: 100%;
      flex-wrap: wrap;

    .controls {
      > div {
        margin-right: 10px;
      }

      .control-label {
        margin: 10px auto;
      }
    }

    .heat-map-container {
      height: 600px;
    }

    .group-column-details {
      border: solid 1px gray;
      margin: 10px;
      padding: 10px;

      td {
        padding: 5px 10px;
      }

      .detail-label {
        white-space: nowrap;
      }

      .detail-data {

      }
    }
  }
}
