@import "../../../../../style/flex";

.details {
  width: 100%;

  .grid-container {
      width: 100%;
      flex-wrap: wrap;

    .controls {
      > div {
        margin-right: 10px;
      }

      .control-label {
        margin: 10px auto;
      }
    }
  }
}
