<paper-card heading="Create Neural Network">
  <div class="card-content">
    <paper-dropdown-menu label="Network type">
      <paper-listbox class="dropdown-content" [(selected)]="networkType.index">
        <paper-item *ngFor="let item of networkType.displayNames">{{item}}</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <paper-dropdown-menu label="Updater">
      <paper-listbox class="dropdown-content" [(selected)]="selectedUpdaterIndex">
        <paper-item *ngFor="let item of updaters">{{item}}</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <paper-input label="Layers" [(value)]="layers"></paper-input>
  </div>

  <div class="card-actions">
    <paper-button raised [disabled]="isCreateDisabled" (click)="create()">Create</paper-button>
  </div>
</paper-card>
