<paper-card heading="Create Neural Network">
  <div class="card-content">
    <paper-dropdown-menu label="Network type">
      <paper-listbox class="dropdown-content" [(selected)]="uiNetworkType.index">
        <paper-item *ngFor="let item of uiNetworkType.displayNames">{{item}}</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>

    <paper-input label="Layers" [(value)]="layers"></paper-input>

    <paper-input label="Param Update Rate" [(value)]="paramUpdateRate"></paper-input>
  </div>

  <div class="card-actions">
    <paper-button raised [disabled]="isCreateDisabled" (click)="create()">Create</paper-button>
  </div>
</paper-card>
