<div class="heat-map">

  <div class="column-label-row layout horizontal"
       *ngIf="columnCount > 0">
    <div class="heat-label first-heat-label"></div>
    <div class="column-label layout vertical center-justified"
         *ngFor="let cell of heatMap.groups[0].rows[0].visibleCells;
                 let colIndex = index;">
      <div>
        {{columnCount - colIndex}}
      </div>
    </div>
  </div>

  <div class="heat-group"
       [class.divider]="showGroupDivider"
       *ngFor="let group of heatMap.groups;">

    <div *ngIf="showGroupName">{{group.name}}</div>
    <div class="heat-row layout horizontal">
      <div class="first-heat-label layout vertical">
        <div *ngFor="let row of group.rows;">
          <div class="heat-label" *ngIf="showRow(row)">{{row.name}}</div>
        </div>
      </div>

      <div class="heat-row-cells layout vertical">
        <div *ngFor="let row of group.rows;
                     let rowIndex = index;
                     let firstRow = first;
                     let lastRow = last;">
          <div class="layout horizontal" *ngIf="showRow(row)">
            <div class="heat-cell"
                 *ngFor="let cell of row.visibleCells; let cellIndex = index;"
                 [class.selected]="selectedGroup == group.name &&
                                   selectedColumn == row.count - cellIndex"
                 [class.first]="firstRow"
                 [class.last]="lastRow"
                 [style.background-color]="getColor(cell, rowIndex)"
                 (click)="selectGroupColumn(group.name, row.name, row.count - cellIndex)"
                 title="{{cell.actualValue.toLocaleString()}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
