@import "../../../../style/flex";

$cell-length: 20px;
$row-label-margin: 5px;
$selected-cell-border: solid 2px black;

@mixin cell {
  height: $cell-length;
  width: $cell-length;
}

.heat-map {
  overflow: auto;
  height: 600px;
  .heat-group {
    width: 100%;

    &.divider {
      border-bottom: dotted 1px black;
    }

    .first-heat-label {
      flex-shrink: 1;
      max-width: 50px;
      margin-right: $row-label-margin;
    }

    .heat-label {
      @include cell;
      border: solid 1px transparent;
    }

    .heat-cell {
      @include cell;
      border: solid 1px lightgray;
      &:hover:not(.selected) {
        border-color: gray;
        border-width: 2px;
        height: $cell-length - 2;
        width: $cell-length - 2;
      }

      &.selected {
        border-left: $selected-cell-border;
        border-right: $selected-cell-border;
        width: $cell-length - 2;
        &.first {
          border-top: $selected-cell-border;
          height: $cell-length - 1;
        }
        &.last {
          border-bottom: $selected-cell-border;
          height: $cell-length - 1;
        }
      }
    }

    .column-label-row {
      background-color: white;
      position: absolute;
      z-index: 1;
    }

    .column-label {
      @include cell;
      border: solid 1px lightgray;
      font-size: 10px;
      text-align: center;
    }
  }
}
