<div class="heat-map">
  <div class="heat-group"
       [class.divider]="showGroupDivider"
       *ngFor="let group of heatMap.groups">
    <div *ngIf="showGroupName">{{group.name}}</div>

    <div class="heat-row layout horizontal">
      <div class="heat-row-labels layout vertical">
        <div *ngFor="let row of group.rows">
          <div class="heat-label" *ngIf="showRow(row.name)">{{row.name}}</div>
        </div>
      </div>

      <div class="heat-row-cells layout vertical">
        <div *ngFor="let row of group.rows; let rowIndex = index;">
          <div class="layout horizontal" *ngIf="showRow(row.name)">
            <div class="heat-cell" *ngFor="let cell of row.visibleCells"
                 [style.background-color]="getColor(cell, rowIndex)"
                 title="{{cell.actualValue.toLocaleString()}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
