<paper-card class="controls" heading="Controls">
  <div class="card-content">
    <div class="layout horizontal">
      <paper-button raised (click)="train()">Single</paper-button>
      <paper-input label="Batch size"
                   type="number"
                   min="1"
                   [(value)]="batchSize"></paper-input>
      <paper-button raised (click)="train()">Batch</paper-button>
      <paper-icon-button raised
                         icon="av:play-arrow"
                         (click)="play()"
                         [disabled]="!hasValidBatchSize || isPlaying"></paper-icon-button>

      <paper-icon-button raised
                         icon="av:pause"
                         (click)="pause()"
                         [disabled]="!isPlaying"></paper-icon-button>
    </div>
  </div>
</paper-card>
