<style include="iron-flex"></style>
<div class="app-train">
  <div class="creation-wizard" *ngIf="!hasTrainer">

    <app-create-network *ngIf="!hasNeuralNetwork"
                          (onCreated)="onNetworkCreated($event)"></app-create-network>

    <app-create-trainer *ngIf="hasNeuralNetwork"
                        [network]="neuralNetwork"
                        (onCreated)="onTrainerCreated($event)"></app-create-trainer>
  </div>

  <div class="dashboard" *ngIf="hasTrainer">
    <div class="layout horizontal">
      <paper-input #batchInput
                   label="Batch size"
                   type="number"
                   min="1"></paper-input>

      <paper-button raised (click)="train(batchInput.value)">Batch</paper-button>
      <paper-button raised (click)="train()">Single</paper-button>
    </div>
    <div class="grid-container layout horizontal">
      <div class="grid layout" *ngFor="let evo of cachedParameterEvolutions">
        <div class="grid-title">{{evo.name}}</div>
        <vaadin-grid>
          <table>
            <colgroup>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
            <tr>
              <td>Value</td>
              <td>Gradient</td>
              <td>Delta</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of evo.dataPoints">
              <td>{{item.value.toFixed(7)}}</td>
              <td>{{item.gradient.toFixed(7)}}</td>
              <td>{{item.delta.toFixed(7)}}</td>
            </tr>
            </tbody>
          </table>
        </vaadin-grid>
    </div>
    </div>
  </div>
</div>
