@import "../../../style/flex";

.app-train {
  .creation-wizard {
    width: 300px;
  }

  .dashboard {
    width: 100%;
    \deep\ paper-card > {
      margin-bottom: 30px;
      width: 100%
    }
  }
}
