<style include="iron-flex"></style>
<div class="app-train">
  <div class="creation-wizard" *ngIf="!hasTrainer">

    <app-create-network *ngIf="!hasNeuralNetwork"
                          (onCreated)="onNetworkCreated($event)"></app-create-network>

    <app-create-trainer *ngIf="hasNeuralNetwork"
                        [network]="neuralNetwork"
                        (onCreated)="onTrainerCreated($event)"></app-create-trainer>
  </div>

  <div class="dashboard" *ngIf="hasTrainer">
    <div class="layout horizontal">
      <paper-input #batchInput
                   label="Batch size"
                   type="number"
                   min="1"></paper-input>

      <paper-button raised (click)="train(batchInput.value)">Batch</paper-button>
      <paper-button raised (click)="train()">Single</paper-button>
    </div>
  </div>
</div>
